<h2>Create ProductType</h2>
<form asp-action="Createpost" asp-controller="ProductType" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input name="nameProductType" value="" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" asp-controller="ProductType" class="btn btn-primary">Back</a>
</form>
