@model DoAnLTWeb.Models.User
@{
    ViewData["Title"] = "Đăng Ký";
    <link rel="stylesheet" href="~/login/style.css">
    
}
<div class="container vh-100 vh-100">
<div class="row align-items-center justify-content-center h-100 px-4 px-sm-0">
    <div class="col col-sm-6 col-lg-7 col-xl-6">
        <a href="#" class="d-flex justify-content-center mb-4">
            <img src="~/login/img/hyper (3).png" alt="Responsive image" class="img-fluid">
        </a>
        <div class="text-center mb-5">
            <h3 class="font-weight-bold fs-5">Đăng Ký</h3>
            <p class="text-secondary">Mời bạn vui lòng nhập thông tin đăng ký</p>
        </div>
        <!-- Form đăng ký -->
        <form asp-action="Register" asp-controller="User" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class='bx bx-user'></i></span>
                </div>
                <input type="text" class="form-control form-control-lg fs-6" asp-for="Username" placeholder="Nhập tên đăng nhập" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class='bx bxl-gmail'></i></span>
                </div>
                <input type="email" class="form-control form-control-lg fs-6" asp-for="Email" placeholder="Nhập email" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class='bx bx-lock-alt'></i></span>
                </div>
                <input type="password" class="form-control form-control-lg fs-6" asp-for="Password" placeholder="Nhập mật khẩu" required>
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" for="userType"><i class='bx bx-user'></i></span>
                </div>
                <select class="custom-select form-control  fs-6" asp-for="Check" id="userType" required style="font-size: 1.25rem;">
                    <option value="3">Khách hàng</option>
                    <option value="4">Nhân viên</option>
                </select>
            </div>
            <button type="submit" class="btn btn-dark btn-lg btn-block mb-3 fs-5">Đăng Ký</button>

        </form>
        <div class="text-center">
                <small>Đã có tài khoản? <a asp-controller="User" asp-action="Login"><span>Đăng Nhập</span></a></small>
        </div>
    </div>
</div>

</div>
